$lr-color: #808080;
$tb-color: #707070;

.disapearing-box {
    width: 0;
    height: 0;
    border: 50px $lr-color solid;
    border-top-color: $tb-color;
    border-bottom-color: $tb-color;
    animation: disapearing-box 4s ease-in-out infinite;
}


@keyframes disapearing-box {
    0%,100% {
        border-bottom-color: $tb-color;
        border-left-color: transparent;
    }

    25% {
        border-left-color: $lr-color;
        border-top-color: transparent;
    }

    50% {
        border-top-color: $tb-color;
        border-right-color: transparent;
    }

    75% {
        border-right-color: $lr-color;
        border-bottom-color: transparent;
    }
}