.loading-text {
    font-size: 5rem;
    &::after {
        content: '';
        animation: after-reversal-dots 8s ease-in-out 0s infinite normal none;
    }
}


@keyframes after-reversal-dots {
    0%,100% {
        opacity: 0;
        content: '';
    }

    10%, 90%{
        opacity: 1;
        content: '.';
    }

    15%,30%,60%, 85% {
        opacity: 0.3;
    }

    25%, 75% {
        opacity: 1;
        content: '..';
    }

    50% {
        opacity: 1;
        content: '...';
    }
}