@import 'loading-text';
@import 'circled-triangle';
@import 'disapearing-box';
@import 'circling-lines';
@import 'progress-bar';

body {
    background: rgb(2,0,36);
}

.loaders {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.loader {
    width: 500px;
    aspect-ratio: 1/1;
    background: 
            linear-gradient(to left top, rgba(0,218,225,1) 0%, rgba(9,9,121,1) 30% 60%,rgba(0,218,225,1) 100%),
            linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
    // background-color: slategrey;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}